/.dvt/
/doc/
/work/
/quartus/db/
/quartus/incremental_db/
/quartus/timing/
/vivado/mpu_test.cache/
/vivado/mpu_test.tmp/
/vivado/mpu_test.runs/
/vivado/*.jou
/vivado/*.log
/scripts/__pycache__/
/.project
/dvt_build.log
/vsim.dbg
/vsim.wlf
